* {
    margin: 0;
    padding: 0;
    font-family: "Microsoft YaHei", "微软雅黑", "宋体", helvetica, "Hiragino Sans GB";
}

a {
    outline: none;
}

body {
    width: 1349px;
    height: 1071px;
    background-color: #efefef;
}

div {
    display: block;
}

.g-hd {
    height: 130px;
    width: 1349px;
}

.g-in {
    width: 1000px;
    margin: 0 auto;
}

.logo {
    float: left;
    width: 300px;
    height: 60px;
    background-position: -50px -18px;
    margin-top: 35px;
}

.spritebg {
    background: url("../images/sprite.png") no-repeat;
    _background-image: url("../image/sprite2.png");
}

.hd-right {
    float: right;
    font-size: 18px;
    margin-top: 60px;
}

.hd-right a {
    text-decoration: none;
    color: #ca5252;
}

.g-bd {
    position: relative;
    width: 1000px;
    min-height: 750px;
    margin: 0 auto;
    background-color: #fff;
    border-radius: 6px;
    box-shadow: 0 3px 3px #cbc9c9;
}

.top_tlt {
    color: rgb(202, 82, 82);
    padding: 44px 0px 0px 70px;
    font: 24px 'Microsoft YaHei', 微软雅黑, 宋体, helvetica, 'Hiragino Sans GB';
}

.m-opr {
    height: 620px;
    margin-top: 40px;
}

.m-opr .u-input {
    position: relative;
    float: left;
    height: 72px;
    width: 100%;
    overflow: hidden;
}

.m-opr .u-label {
    float: left;
    width: 340px;
    text-align: right;
    margin-top: 12px;
    font-size: 16px;
    line-height: 45px;
    color: #333;
}

.m-opr .i-inpt {
    float: left;
    height: 44px;
    width: 320px;
    margin-top: 12px;
    border: solid 1px #ddd;
    font-size: 16px;
    text-indent: 0.5em;
    line-height: 44px \9;
}

.m-opr .u-input {
    position: relative;
    float: left;
    height: 72px;
    width: 100%;
    overflow: hidden;
}

.m-opr .u-note {
    height: 22px;
    line-height: 22px;
    color: #999;
}

.u-note .changephone {
    cursor: pointer;
    color: #4cb5ff;
}

.m-opr .u-label {
    float: left;
    width: 340px;
    text-align: right;
    margin-top: 12px;
    font-size: 16px;
    line-height: 45px;
    color: #333;
}

.m-opr .i-inpt.smsize {
    width: 190px;
}

.m-opr .btn-getsms {
    float: left;
    height: 46px;
    width: 120px;
    font-size: 16px;
    line-height: 46px;
    margin: 12px 0 0 10px;
    color: #5d5d5d;
    background: #ccc;
    text-align: center;
}

.m-opr .btn-getsms-btndisabled {
    opacity: 0.6;
    filter: alpha(opacity=60);
    cursor: default;
    background-color: #a1d1f6;
}

.m-opr .btn-reg.btndisabled {
    opacity: 0.9;
    filter: alpha(opacity=60);
    cursor: default;
}

.m-opr .btn-red {
    background: #ca5252;
}

.m-opr .u-label {
    float: left;
    width: 340px;
    text-align: right;
    margin-top: 12px;
    font-size: 16px;
    line-height: 45px;
    color: #333;
}

.m-opr .b-btn {
    float: left;
    border: 0;
    width: 322px;
    height: 46px;
    margin-top: 12px;
    text-align: center;
    font-size: 18px;
    color: #fff;
    line-height: 46px;
    cursor: pointer;
}

.tip {
    margin-top: 10px;
    font-size: 14px;
    color: #BCC5CF;
}

.u-tips {
    width: 322px;
    height: 40px;
}

p {
    display: block;
    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;

}

.m-opr .popb.err {
    color: #fa5b5b;
}

tbody {
    display: table-row-group;
    vertical-align: middle;
    border-color: inherit;
}

tr {
    display: table-row;
    vertical-align: inherit;
    border-color: inherit;
}

.m-opr .popb .b-i {
    height: 72px;
    width: 24px;
}

.m-opr .popb.err i {
    background-position: -62px -98px;
}

.m-opr .popb .b-p {
    overflow: hidden;
    line-height: 20px;
    word-break: break-all;
}

.m-opr .popb i {
    float: left;
    width: 22px;
    height: 22px;
    padding: 0 2px 0 0;
    /*background: url("../image/sprite.png") no-repeat;*/
    /*_background-image: url("../image/sprite2.png");*/
    /*background-position: 1000px 1000px;*/
}

.m-opr .popb {
    float: left;
    margin-left: 10px;
    width: 280px;
    height: 72px;
    max-height: 60px;
    overflow: hidden;
    font-size: 12px;
}

tbody {
    display: table-row-group;
    vertical-align: middle;
    border-color: inherit;
}

tr {
    display: table-row;
    vertical-align: inherit;
    border-color: inherit;
}


